doc/node-red-flow.json
[
  {
    "id": "medication-flow-tab",
    "type": "tab",
    "label": "TimeSaúde - Medications API",
    "disabled": false,
    "info": "API REST para gerenciamento de medicamentos do TimeSaúde\r\n\r\nEndpoints:\r\n- GET /api/medications - Lista todos\r\n- GET /api/medications/:id - Busca por ID\r\n- POST /api/medications - Cria novo\r\n- PUT /api/medications/:id - Atualiza\r\n- DELETE /api/medications/:id - Remove"
  },
  {
    "id": "http-in-get-all",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 100,
    "wires": [["func-get-all"]]
  },
  {
    "id": "func-get-all",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Return All Medications",
    "func": "// Inicializa medications se não existir\nif (!context.global.medications) {\n    context.global.medications = [\n        {\n            id: '1',\n            name: 'Paracetamol',\n            dosage: '500mg',\n            frequency: '8/8h',\n            startDate: '2024-12-01T00:00:00.000Z',\n            notes: 'Tomar com água'\n        },\n        {\n            id: '2',\n            name: 'Ibuprofeno',\n            dosage: '400mg',\n            frequency: '12/12h',\n            startDate: '2024-12-05T00:00:00.000Z',\n            endDate: '2024-12-15T00:00:00.000Z',\n            notes: 'Após as refeições'\n        },\n        {\n            id: '3',\n            name: 'Amoxicilina',\n            dosage: '250mg',\n            frequency: '8/8h',\n            startDate: '2024-11-20T00:00:00.000Z',\n            endDate: '2024-11-30T00:00:00.000Z',\n            notes: 'Completar o ciclo'\n        },\n        {\n            id: '4',\n            name: 'Losartana',\n            dosage: '50mg',\n            frequency: '24/24h',\n            startDate: '2024-01-01T00:00:00.000Z',\n            notes: 'Controle de pressão arterial'\n        },\n        {\n            id: '5',\n            name: 'Metformina',\n            dosage: '850mg',\n            frequency: '12/12h',\n            startDate: '2024-01-01T00:00:00.000Z',\n            notes: 'Tomar durante as refeições'\n        }\n    ];\n}\n\nmsg.payload = context.global.medications;\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 100,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-get-id",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 160,
    "wires": [["func-get-id"]]
  },
  {
    "id": "func-get-id",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Find Medication by ID",
    "func": "const medications = context.global.medications || [];\nconst id = msg.req.params.id;\nconst medication = medications.find(m => m.id === id);\n\nif (medication) {\n    msg.payload = medication;\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 160,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-post",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 220,
    "wires": [["func-create"]]
  },
  {
    "id": "func-create",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Create Medication",
    "func": "const medications = context.global.medications || [];\nconst newMedication = msg.payload;\n\n// Gera ID único se não fornecido\nif (!newMedication.id) {\n    newMedication.id = String(Date.now());\n}\n\n// Valida campos obrigatórios\nif (!newMedication.name || !newMedication.dosage || !newMedication.frequency) {\n    msg.payload = { error: 'Missing required fields: name, dosage, frequency' };\n    msg.statusCode = 400;\n    return msg;\n}\n\nmedications.push(newMedication);\ncontext.global.medications = medications;\n\nmsg.payload = newMedication;\nmsg.statusCode = 201;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 220,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-put",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 280,
    "wires": [["func-update"]]
  },
  {
    "id": "func-update",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Update Medication",
    "func": "const medications = context.global.medications || [];\nconst id = msg.req.params.id;\nconst updates = msg.payload;\nconst index = medications.findIndex(m => m.id === id);\n\nif (index !== -1) {\n    // Merge updates mantendo o ID original\n    medications[index] = { \n        ...medications[index], \n        ...updates, \n        id: medications[index].id \n    };\n    context.global.medications = medications;\n    \n    msg.payload = medications[index];\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 280,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-delete",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "delete",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 340,
    "wires": [["func-delete"]]
  },
  {
    "id": "func-delete",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Delete Medication",
    "func": "const medications = context.global.medications || [];\nconst id = msg.req.params.id;\nconst index = medications.findIndex(m => m.id === id);\n\nif (index !== -1) {\n    const deleted = medications.splice(index, 1)[0];\n    context.global.medications = medications;\n    \n    msg.payload = { \n        message: 'Medication deleted successfully',\n        deleted: deleted \n    };\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["http-response"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "medication-flow-tab",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*",
      "access-control-allow-methods": "GET, POST, PUT, DELETE, OPTIONS",
      "access-control-allow-headers": "Content-Type"
    },
    "x": 690,
    "y": 220,
    "wires": []
  },
  {
    "id": "http-in-options",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "options",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 400,
    "wires": [["func-cors"]]
  },
  {
    "id": "func-cors",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "CORS Response",
    "func": "msg.statusCode = 204;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 400,
    "wires": [["http-response"]]
  }
]
