nodered/flows-simple.json
[
  {
    "id": "medication-flow-tab",
    "type": "tab",
    "label": "TimeSaúde - Medications API",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject-init-data",
    "type": "inject",
    "z": "medication-flow-tab",
    "name": "Initialize 100 Medications",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "x": 180,
    "y": 40,
    "wires": [["file-read-100"]]
  },
  {
    "id": "file-read-100",
    "type": "file in",
    "z": "medication-flow-tab",
    "name": "Read medications-100.json",
    "filename": "/data/medications-100.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 450,
    "y": 40,
    "wires": [["json-parse-init"]]
  },
  {
    "id": "json-parse-init",
    "type": "json",
    "z": "medication-flow-tab",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 690,
    "y": 40,
    "wires": [["func-store-global"]]
  },
  {
    "id": "func-store-global",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Store in Global Context",
    "func": "context.global.set('medications', msg.payload);\nnode.warn('Loaded ' + msg.payload.length + ' medications');\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 40,
    "wires": [[]]
  },
  {
    "id": "http-in-get-all",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 120,
    "wires": [["func-get-all"]]
  },
  {
    "id": "func-get-all",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Return All Medications",
    "func": "const medications = context.global.get('medications') || [];\nmsg.payload = medications;\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 120,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-get-id",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 180,
    "wires": [["func-get-id"]]
  },
  {
    "id": "func-get-id",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Find Medication by ID",
    "func": "const medications = context.global.get('medications') || [];\nconst id = msg.req.params.id;\nconst medication = medications.find(m => m.id === id);\nif (medication) {\n    msg.payload = medication;\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 460,
    "y": 180,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-post",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 240,
    "wires": [["func-create"]]
  },
  {
    "id": "func-create",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Create Medication",
    "func": "const medications = context.global.get('medications') || [];\nconst newMedication = msg.payload;\nif (!newMedication.id) {\n    newMedication.id = String(Date.now());\n}\nif (!newMedication.name || !newMedication.dosage || !newMedication.frequency) {\n    msg.payload = { error: 'Missing required fields' };\n    msg.statusCode = 400;\n    return msg;\n}\nmedications.push(newMedication);\ncontext.global.set('medications', medications);\nmsg.payload = newMedication;\nmsg.statusCode = 201;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 240,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-put",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "put",
    "upload": false,
    "swaggerDoc": "",
    "x": 190,
    "y": 300,
    "wires": [["func-update"]]
  },
  {
    "id": "func-update",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Update Medication",
    "func": "const medications = context.global.get('medications') || [];\nconst id = msg.req.params.id;\nconst updates = msg.payload;\nconst index = medications.findIndex(m => m.id === id);\nif (index !== -1) {\n    medications[index] = { ...medications[index], ...updates, id: medications[index].id };\n    context.global.set('medications', medications);\n    msg.payload = medications[index];\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 300,
    "wires": [["http-response"]]
  },
  {
    "id": "http-in-delete",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications/:id",
    "method": "delete",
    "upload": false,
    "swaggerDoc": "",
    "x": 200,
    "y": 360,
    "wires": [["func-delete"]]
  },
  {
    "id": "func-delete",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "Delete Medication",
    "func": "const medications = context.global.get('medications') || [];\nconst id = msg.req.params.id;\nconst index = medications.findIndex(m => m.id === id);\nif (index !== -1) {\n    const deleted = medications.splice(index, 1)[0];\n    context.global.set('medications', medications);\n    msg.payload = { message: 'Medication deleted successfully', deleted: deleted };\n    msg.statusCode = 200;\n} else {\n    msg.payload = { error: 'Medication not found' };\n    msg.statusCode = 404;\n}\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 360,
    "wires": [["http-response"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "medication-flow-tab",
    "name": "",
    "statusCode": "",
    "headers": {
      "content-type": "application/json",
      "access-control-allow-origin": "*",
      "access-control-allow-methods": "GET, POST, PUT, DELETE, OPTIONS",
      "access-control-allow-headers": "Content-Type"
    },
    "x": 710,
    "y": 240,
    "wires": []
  },
  {
    "id": "http-in-options",
    "type": "http in",
    "z": "medication-flow-tab",
    "name": "",
    "url": "/api/medications",
    "method": "options",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 420,
    "wires": [["func-cors"]]
  },
  {
    "id": "func-cors",
    "type": "function",
    "z": "medication-flow-tab",
    "name": "CORS Response",
    "func": "msg.statusCode = 204;\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 430,
    "y": 420,
    "wires": [["http-response"]]
  }
]
